<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-3 bg-dark text-white">
        <div class="row">
          <div class="col-sm-4">
            <h4>college</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>

          <div class="col-sm-4">
            <h4>follow us</h4>
            <div class="social-links">
              <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
