<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-3 bg-dark text-white">
        <div class="row">
          <div class="col-sm-4">
            <h4>College</h4>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Affiliate Program</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Payment Options</a></li>
            </ul>
          </div>

          <div class="col-sm-4">
            <h4>follow us</h4>
            <div class="social-links">
              <ul>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </ul>
            </div>
          </div>
        
        </div>
        <hr>
        <p class="copyright" style="text-align: center; font-weight: bolder;">Copyright &copy; 2022 - All Rights are Reserved</p>
      </div>
     
    </div>
  
  </div>
  
</footer>
<!-- <div>

</div> -->
