<br />
<div class="container">
  <div class="row">
    <div class="col p-3 bg-dark text-white">
      <div class="row">
        <div class="col-sm-6">
          <%if(locals.student){%>
          <h6><%=student.name%></h6>
          <%}else{%>
          <h6>Student login</h6>
          <%}%> <%if(locals.student){%>
          <a href="/student/profile/<%=student.id%>">
            <img
              src="<%=student.avatar%>"
              class="rounded-circle"
              alt="Cinque Terre"
              width="100"
              height="110"
            />
          </a>
          <%}else{%>
          <a href="/student/sign-in">
            <img
              src="/images/user.jpg"
              class="rounded-circle"
              alt="Cinque Terre"
              width="100"
              height="110"
            />
          </a>
          <%}%>
        </div>
        <div class="col-sm-6">
          <!-- <h6>Status of complaint</h6> -->
          <img
            src="/images/complain status.jpg"
            class="rounded-circle"
            alt="Cinque Terre"
            width="50"
            height="40"
          />
          <p>Status of complaint</p>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="complaint number"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="row">
        <div class="col-sm-4">
          <h6>Register Complaint /Demand/Suggestion</h6>
          <a href="/post/ragister"
            ><img
              src="/images/Register Complaint2.jpg"
              class="rounded"
              alt="Cinque Terre"
              width="100"
              height="110"
          /></a>
        </div>
        <div class="col-sm-4">
          <h6>status of complain</h6>
          <a href="/status/getstatus">
            <img
              src="/images/status.jpg"
              class="rounded"
              alt="Cinque Terre"
              width="100"
              height="110"
          /></a>
        </div>
        <div class="col-sm-4">
          <h6>teacher login</h6>
          <a href="/teacher/sign-in">
            <img
              src="/images/teacher login.jpg"
              class="rounded-circle"
              alt="Cinque Terre"
              width="100"
              height="110"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="col p-3 bg-primary text-white">
      <!-- gokul -->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-block w-100 bg-primary text-white">
              <h1><b>Complaint registration</b></h1>
              <p>. Facility to register the complainant through mobile OTP</p>
              <p>
                . Facility to file complaints online at every level of college
              </p>
              <p>. Facility to lodge complaint at any time</p>
              <p>
                . Transmission of information through SMS/Email at each level
              </p>
              <p>
                . Easy and transparent communication between citizens and the
                government
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-block w-100 bg-primary text-white">
              <h1><b>Status of complaint</b></h1>
              <p>
                . Know the status of complaint through registered mobile number
                or email id
              </p>
              <p>
                . Facility to find reference number of complaints lodged through
                registered mobile number or email id
              </p>
              <p>
                . Facility to view forward details of action taken on complaint
              </p>
              <p>. Facility to view disposal report after disposal</p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-block w-100 bg-primary text-white">
              <h1><b>Send reminder</b></h1>
              <p>
                . Facility to send reminder if complaint is not resolved within
                stipulated time period
              </p>
              <p>
                . Special supervision of pending reminders at various levels by
                Head of department
              </p>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<br /><br />
