<!-- <h1>sign up</h1>
<form action="/student/create" method="POST">
  <input type="text" name="name" placeholder="Enter name" required />
  <input type="number" name="rollno" placeholder="Enter rollno" required />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <input
    type="password"
    name="confirm_password"
    placeholder=" re Enter password"
    required
  />
  <button type="submit">Add</button>
</form> -->

<link rel="stylesheet" href="/css/style3.css" />
<div>
  <form class="box" action="/student/create" method="POST">
    <h3 class="text-white">Student Signup</h3>
    <input type="text" name="name" placeholder="Enter Name" required />
    <input type="text" name="rollno" placeholder="Enter Roll-No" id="username" />
    <input
      type="password"
      name="password"
      placeholder="Enter Pssword"
      id="password"
    />
    <input
      type="password"
      name="confirm_password"
      placeholder=" re Enter Password"
      required
    />
    <input type="submit" name="" value="signup" />
  </form>
</div>
