<!-- <h1>sign in</h1>
<form action="/student/create-session" method="POST">
  <input type="number" name="rollno" placeholder="Enter rollno" required />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <button type="submit">signin</button>
</form> -->

<link rel="stylesheet" href="/css/style2.css" />
<div>
  <form class="box" action="/student/create-session" method="POST">
    <h1 class="text-white">Student login</h1>
    <input type="text" name="rollno" placeholder="enter rollno" id="username" />
    <input
      type="password"
      name="password"
      placeholder="enter password"
      id="password"
    />
    <input type="submit" name="" value="login" />
  </form>
</div>
