<h1>sign up</h1>
<form action="/teacher/create" method="POST">
  <input type="text" name="name" placeholder="Enter name" required />
  <input type="number" name="teacherId" placeholder="Enter id" required />
  <input
    type="text"
    name="teacherDepartment"
    placeholder="Enter departement"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <input
    type="password"
    name="confirm_password"
    placeholder=" re Enter password"
    required
  />
  <button type="submit">Add</button>
</form>
