<!-- <h1>sign in</h1>
<form action="/teacher/create-session" method="POST">
  <input type="number" name="teacherid" placeholder="Enter rollno" required />
  <input
    type="password"
    name="password"
    placeholder="Enter password"
    required
  />
  <button type="submit">signin</button>
</form> -->

<link rel="stylesheet" href="/css/style2.css" />
<div>
  <form class="box" action="/teacher/create-session" method="POST">
    <h1 class="text-white">Teacher login</h1>
    <input
      type="text"
      name="teacherId"
      placeholder="enter teacherid"
      id="username"
    />
    <input
      type="password"
      name="password"
      placeholder="enter password"
      id="password"
    />
    <input type="submit" name="" value="login" />
  </form>
</div>
