body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(C:\Users\RoyNEERAJ\Desktop\roy.html\pic\525966.jpg); */
  background: url("/images/525966.jpg") no-repeat;
  background-size: cover;
}
.box {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.box1 h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  margin: 20px auto;
  background: block;
  text-align: center;
  border: 3px solid #0367fd;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: rgb(11, 4, 4);
  border-radius: 24px;
  transition: 0.25px;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 270px;
  border-color: #ffc400ec;
}
.box input[type="submit"] {
  border: 0;
  margin: 20px auto;
  background: block;
  text-align: center;
  border: 3px solid #0367fd;
  padding: 14px 35px;
  width: 220px;
  outline: none;
  color: rgb(27, 20, 20);
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #1a1ee1ec;
}



